/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset ends here */

img {
	height: 700px;
	width: 100%;
	transition: ease-in;
}

input {
	font-size: 30px;
	text-align: center;
}

span {
	font-size: 30px;
	text-align: center;
}

h3 {
	font-size: 40px;
	text-align: center;
}

.web-title {
	font-size: 25px;
	position: absolute;
	left: 0px;
	top: 4%;
	margin-top: 12px;
	font-style:oblique;
	box-shadow: 10px 10px 5px #7a7777;
	border-radius: 12px;
}


.about-me-info {
	width: 100%;
	margin-bottom: 25px;
	margin-top: 25px;
}

.about-me-para {
	margin-top: 12px;
	font-size: 24px;
}


.wrapper {
	float: right;
	z-index: 100px;
	top: 0em;
}

.container {
	position: fixed;
	top: 0px;
	right: -12px;
	width: 35%;
	display:flex;
}

button {
	margin-bottom: 15px;
  border: none;
  outline: none;
  background-color: black;
  letter-spacing: 1px;
  color: white;
  font-weight: normal;
  width: 50%;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 18px;
}

.contact-wrapper {
	text-align: center;
}

.reset-input {
	margin-bottom: 50px;
	margin-top: 30px;
}

#gform {
	width: 40%;
	display: inline-block;
}

#name {
	width: 100%;
}

#email {
	width: 100%;
}

.name-label {
	font-size: 24px;
}

.message-label {
	font-size: 24px;
}

.email-label {
	font-size: 24px;
}

.h2-div {
	font-size: 30px;
}

#thankyou_message {
	margin-bottom: 30px;
}

.button-xlarge {
	margin-bottom: 30px;
	width: 100%;
}


@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }

		.container {
			width: 100%;
			left: 0px;
			height: 45px;
		}

		img {
			height: 400px
		}

		.web-title {
			position: absolute;
			top: 63%;
			font-size: 20px;
			right: 10px;
			left: 10px
		}

		.about-me-para {
			margin-top: 12px;
			font-size: 20px;
		}

		#gform {
			width: 100%;
		}

		#name {
			width: 100%;
			margin-top: 20px;
		}

		#email {
			margin-top: 10px;
		}

		#message {
			margin-top: 20px;
		}

		.button-xlarge {
			height: 50px;
		}
}
